# Ignorar todos los archivos y carpetas
/.vscode/
/node_modules/

# Excepto la carpeta public
!/public/
!/public/**

# Excepto la carpeta src
!/src/
!/src/**

# Excepto el archivo package.json
!/package.json
